* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  background-color: black;
}

.body {
  margin-top: 70px;
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .body {
    margin-top: 180px;
  }
}

.main-div {
  padding: 20px 10px 20px 10px;
  border: 2px solid silver;
  border-radius: 14px;
  margin: 0px 0px 0px -10px ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-div > input {
  border: 2px solid silver !important;
  width: 295px;
  height: 60px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid green;
  color: white;
  font-weight: bolder;
  font-size: 27px;
  text-align: right !important;
  padding-right: 10px !important;
  overflow: hidden;
}
.row {
  padding-top: 10px;
}

.row > button {
  width: 75px;
  height: 75px;
  padding: 15px;
  border-radius: 100%;
  border: none;
  background-color: #a5a5a5;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.row > button:active {
  background-color: rgb(136, 135, 135) !important;
}
.row > button:hover {
  background-color: #e0dfdf;
}
.button-4 {
  color: white !important;
}
.button-4:hover {
  background-color: #fbc16a !important;
}
